/* line 3, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* line 9, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header {
  height: 400px;
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 16, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 20;
  background-color: #082a4f;
  display: none;
}

/* line 28, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden h2 {
  text-align: center;
  margin: 0;
  width: 120px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
}

/* line 41, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden input[type=text] {
  box-sizing: border-box;
  padding: 10px;
  height: 36px;
  width: 20%;
  border: none;
  margin: 7px 10px;
  color: gray;
  border-radius: 5px;
}

/* line 53, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden .nav-open {
  display: none;
}

/* line 56, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden .nav-open i {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 66, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden .nav-close {
  display: none;
}

/* line 69, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar-hidden .nav-close i {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 80, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar {
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 20;
}

/* line 86, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar .ul-nav {
  list-style: none;
  font-size: 16px;
}

/* line 90, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar .ul-nav li {
  display: inline-block;
}

/* line 97, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar .ul-nav a {
  text-decoration: none;
  color: white;
  transition: .2s ease;
  padding: 5px 15px;
  box-sizing: border-box;
}

/* line 104, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .navbar .ul-nav a:hover {
  color: gray;
}

/* line 121, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .about {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

/* line 131, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .about h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: 0;
}

/* line 138, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .about h2 {
  color: white;
  font-weight: 400;
  font-size: 24px;
}

/* line 145, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .about .search-header {
  z-index: 1;
}

/* line 149, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .page-header .about .search-header input[type=text] {
  padding: 20px;
  width: 80%;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  box-sizing: border-box;
  color: gray;
}

/* line 165, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .nav-toggle {
  background-color: white;
  height: 55vh;
  width: 1000%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50px;
  left: 0;
  text-align: left;
  display: none;
  opacity: 1;
  z-index: 20;
}

/* line 180, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .nav-toggle ul {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  margin-bottom: 0;
}

/* line 190, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .nav-toggle ul li {
  border-bottom: 1px solid gray;
}

/* line 193, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .nav-toggle ul li:last-child {
  border: none;
}

/* line 197, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .nav-toggle ul li a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: #082a4f;
  padding: 20px;
  transition: .5s ease;
  text-decoration: none;
}

/* line 215, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 {
  width: 100%;
  height: 500px;
}

/* line 219, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .register {
  text-align: center;
  margin-bottom: -100px;
}

/* line 223, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .register h2 {
  font-weight: 400;
  font-size: 40px;
}

/* line 228, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .register input[type=submit] {
  color: white;
  background-color: #082a4f;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 242, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* line 254, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image {
  width: 300px;
  height: 300px;
  perspective: 200px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  -o-perspective: 200px;
  -webkit-perspective: 200px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

/* line 271, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 65px -9px #6e6e6e;
  -moz-box-shadow: 0px 0px 65px -9px #6e6e6e;
  box-shadow: 0px 0px 65px -9px #6e6e6e;
}

/* line 280, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-1 {
  -webkit-transform: rotateY(35deg);
  transform: rotateY(35deg);
}

/* line 286, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-2 {
  -webkit-transform: rotateY(40deg);
  transform: rotateY(40deg);
}

/* line 292, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-3 {
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}

/* line 298, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-4 {
  -webkit-transform: rotateY(55deg);
  transform: rotateY(55deg);
}

/* line 305, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-5 {
  -webkit-transform: rotateY(65deg);
  transform: rotateY(65deg);
}

/* line 311, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-6 {
  -webkit-transform: rotateY(75deg);
  transform: rotateY(75deg);
}

/* line 317, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-7 {
  -webkit-transform: rotateY(85deg);
  transform: rotateY(85deg);
}

/* line 323, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-8 {
  -webkit-transform: rotateY(95deg);
  transform: rotateY(95deg);
}

/* line 330, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-9 {
  -webkit-transform: rotateY(105deg);
  transform: rotateY(105deg);
}

/* line 336, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-10 {
  -webkit-transform: rotateY(115deg);
  transform: rotateY(115deg);
}

/* line 342, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-11 {
  -webkit-transform: rotateY(125deg);
  transform: rotateY(125deg);
}

/* line 348, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-12 {
  -webkit-transform: rotateY(135deg);
  transform: rotateY(135deg);
}

/* line 354, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-13 {
  -webkit-transform: rotateY(140deg);
  transform: rotateY(140deg);
}

/* line 360, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-14 {
  -webkit-transform: rotateY(145deg);
  transform: rotateY(145deg);
}

/* line 366, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image .persp-img-15 {
  -webkit-transform: rotateY(89eg);
  transform: rotateY(89deg);
}

/* line 374, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(1) {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0%;
}

/* line 381, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(2) {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 10%;
  z-index: 1;
}

/* line 389, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(3) {
  width: 210px;
  height: 210px;
  position: absolute;
  left: 20%;
  z-index: 2;
}

/* line 397, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(4) {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 30%;
  z-index: 3;
}

/* line 405, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(5) {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 37%;
  z-index: 4;
}

/* line 413, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(6) {
  width: 125px;
  height: 125px;
  position: absolute;
  left: 42%;
  z-index: 5;
}

/* line 421, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(7) {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  z-index: 6;
}

/* line 429, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(8) {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 45%;
  z-index: 6;
}

/* line 437, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(9) {
  width: 125px;
  height: 125px;
  position: absolute;
  right: 42%;
  z-index: 5;
}

/* line 445, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(10) {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 37%;
  z-index: 4;
}

/* line 453, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(11) {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 30%;
  z-index: 3;
}

/* line 461, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(12) {
  width: 210px;
  height: 210px;
  position: absolute;
  right: 20%;
  z-index: 2;
}

/* line 469, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(13) {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 10%;
  z-index: 1;
}

/* line 477, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(14) {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
}

/* line 484, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .images-perspective .single-image:nth-of-type(15) {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 46.8%;
  z-index: 7;
}

/* line 495, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .list {
  width: 100%;
  float: left;
}

/* line 500, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .list .info-list {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-position: inside;
}

/* line 510, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .section-1 .list .info-list li {
  width: 50%;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* line 523, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* line 531, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories h3 {
  align-self: flex-start;
  text-align: center;
  width: 100%;
  color: #082a4f;
  font-size: 40px;
  font-weight: 300;
}

/* line 542, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular-category {
  display: block;
  text-decoration: none;
  width: 18vw;
  height: 15vw;
}

/* line 549, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular-category:hover {
  background-color: #082a4f;
  border-radius: 10px;
}

/* line 555, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  font-size: 35px;
  transition: .3s ease;
}

/* line 568, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular:hover img {
  visibility: hidden;
}

/* line 572, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: brightness(30%);
}

/* line 586, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .popular p {
  display: block;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
  font-weight: 100;
}

/* line 602, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .other-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

/* line 610, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .other-categories h3 {
  align-self: flex-start;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
}

/* line 618, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .other-categories .single-category {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #082a4f;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 5px;
  border-radius: 5px;
}

/* line 629, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .popular-categories .other-categories .single-category:hover {
  background-color: white;
  color: #082a4f;
}

/* line 640, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
  background-color: #eeeeee;
  padding: 50px 0;
  width: 100%;
}

/* line 649, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section h3 {
  align-self: flex-start;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

/* line 662, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section .info {
  text-align: center;
  margin: 0 30px;
  width: 25%;
  box-sizing: border-box;
}

/* line 668, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section .info i {
  font-size: 120px;
  color: gray;
}

/* line 673, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section .info h4 {
  display: block;
  width: 100%;
  text-transform: uppercase;
}

/* line 679, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section .info a {
  color: gray;
}

/* line 682, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .about-section .info a:hover {
  text-decoration: none;
}

/* line 690, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .latest-images {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* line 697, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .latest-images h3 {
  align-self: flex-start;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
}

/* line 705, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .latest-images a {
  display: block;
  text-decoration: none;
  width: 30%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 2px;
  box-sizing: border-box;
  padding: 0;
}

/* line 716, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .latest-images a img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 728, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body .latest-images input[type=submit] {
  color: white;
  background-color: #082a4f;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  align-self: center;
  margin: 20px 0;
}

/* line 742, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer {
  background-color: #333030;
}

/* line 746, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer h2 {
  color: white;
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 10px;
}

/* line 754, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer h3 {
  color: white;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 10px;
}

/* line 762, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer P {
  text-align: center;
  color: white;
}

/* line 767, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer .social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 772, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer .social-icons a {
  display: inline-block;
  color: white;
  font-size: 30px;
  padding: 5px 15px;
}

/* line 782, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
html body footer h4 {
  color: white;
  text-align: center;
  margin: 0;
  line-height: 40px;
  background-color: #222020;
  display: block;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  /* line 797, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body {
    width: 100%;
  }
  /* line 803, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .navbar-hidden .fa-bars {
    display: block !important;
  }
  /* line 807, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .navbar-hidden h2 {
    left: 75px !important;
  }
  /* line 811, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .navbar-hidden input[type=text] {
    display: none !important;
  }
  /* line 815, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .navbar-hidden .nav-open {
    display: block !important;
  }
  /* line 827, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about h1 {
    font-size: 36px !important;
  }
  /* line 832, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about h2 {
    font-size: 24px !important;
  }
  /* line 837, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about input[type=text] {
    padding: 14px !important;
    font-size: 12px !important;
  }
  /* line 844, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .navbar {
    display: none;
  }
  /* line 851, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 h2 {
    font-size: 20px !important;
  }
  /* line 855, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 input[type=submit] {
    font-size: 16px !important;
    padding: 10px !important;
  }
  /* line 860, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .list {
    width: 100%;
  }
  /* line 866, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .list .info-list li {
    width: 100% !important;
    list-style-type: circle;
  }
  /* line 878, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-1 {
    display: none;
  }
  /* line 882, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-14 {
    display: none;
  }
  /* line 886, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-2 {
    display: none;
  }
  /* line 890, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-13 {
    display: none;
  }
  /* line 894, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-12 {
    display: none;
  }
  /* line 898, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-3 {
    display: none;
  }
  /* line 902, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-7 {
    display: none;
  }
  /* line 906, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image .persp-img-8 {
    display: none;
  }
  /* line 914, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(4) {
    left: 0% !important;
  }
  /* line 918, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(5) {
    left: 15% !important;
  }
  /* line 922, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(6) {
    left: 30% !important;
  }
  /* line 929, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(9) {
    right: 30% !important;
  }
  /* line 933, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(10) {
    right: 15% !important;
  }
  /* line 937, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(11) {
    right: 0% !important;
  }
  /* line 941, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .section-1 .images-perspective .single-image:nth-of-type(15) {
    right: 45% !important;
  }
  /* line 962, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .popular-categories h3 {
    font-size: 30px !important;
  }
  /* line 968, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .popular-categories .popular-category {
    width: 60vw !important;
    height: 55vw !important;
    margin-bottom: 10px !important;
  }
  /* line 974, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .popular-categories p {
    font-size: 20px !important;
  }
  /* line 978, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .popular-categories .other-categories {
    width: 90% !important;
  }
  /* line 987, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about-section h3 {
    font-size: 30px !important;
    width: 100% !important;
  }
  /* line 994, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about-section .info {
    width: 100% !important;
    margin-bottom: 25px !important;
  }
  /* line 998, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .about-section .info i {
    font-size: 120px;
  }
  /* line 1016, C:/Users/Mateusz/Desktop/projekty/uploader/sccs/main.scss */
  body .latest-images a {
    width: 90% !important;
  }
}

/*# sourceMappingURL=../css/main.map */